body{
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
            color:#ead478;
            font-weight: bold;
            font-size: 20px;
          background: #1d1d52 url("photoካል.png") no-repeat center center fixed;
    background-size: cover;
        }
        .section{
            position: fixed;
            
        }
        #continor{
         background: #101010; 
         backdrop-filter: blur(10px); 
         border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 20px;
        border-radius: 10px;
        width: 90%;
        max-width: 320px;
        /* border: none; */
        box-shadow: 0, 10px 30px rgba(0, 0, 0,0.5);
        

        }
        #button{
            display: grid;
            grid-template-columns: repeat(4 , 1fr);
            gap: 12px;
        }
        input{
            width: 100%;
            margin-bottom: 20px;
            box-sizing: border-box;
            height: 60px;
            background-color: rgb(22, 143, 22);
            text-align: right;
             border: none;
             border-radius: 5px;
             font-size: 24px;
             color: white;
             padding: 10px;
        }
        button{
            padding: 10px;
            border-radius: 10px;
            border: none;
            text-align: center;
            font-size: 15px;
            cursor: pointer;
             font-weight: bold;
      
        }
        #del{
            background-color: rgb(211, 16, 16);
            color: white;
            font-weight: bold;
            transition: 0.3s;
            
        }
        #del:hover{
            background-color: rgb(232, 69, 69);

        }
        #clear{
            background-color: rgb(20, 126, 90);
            transition: 0.3s;
        }
        #clear:hover{
            background-color: rgb(16, 153, 16);
        }
        #equal{
            background-color: tomato;
            transition: 0.3s;
        }
        #equal:hover{
            background-color: rgb(175, 36, 12);
        }
        .number{
            background-color: #726f7d;
            color: #fff;
        }
        .number:hover{
        background-color: #1b1923;
        transition: 0̄.3s;
        }
        .opp{
            background:#ead478 ;
            color: white;
            font-weight: bold;
        }
        .opp:hover{
            background-color: #e1bc27;
            opacity: 0.8;
               transition: 0.3s;
        }
        
        .sintific{
            background-color: #685686;
            color: white;
          
        }
         .sintific:hover{
            background-color:#2509f9 ;
               transition: 0.3s;
         }
         @media (max-width: 480px) {
    #button {
        grid-template-columns: repeat(4, 1fr);
        gap: 8px;
    }
    
    button {
        padding: 15px 5px; /* በሞባይል ለመንካት እንዲመች */
        font-size: 14px;
    }

    h2 {
        font-size: 18px;
    }
}